main {
  width: 100%;
  min-height: calc(100dvh - 5.6rem - 11.5rem - 2rem);
  padding-top: 3rem;
  padding-bottom: 14.4rem;
  position: relative;
}

header {
  max-width: 117.2rem;
  margin: 0 auto;
  margin-bottom: 7rem;
  padding: 0rem 1.5rem;
  box-sizing: content-box;
}

article {
  cursor: pointer;
}

.input {
  padding: 0.8rem 1.8rem;
  padding-left: 1rem;
  border-radius: .6rem;
  background-color: var(--color-white);
}

.container-row {
  display: flex;
}
.container-col {
  width: 100%;
  display: flex;
  flex-direction: column;
}
header .container-col {
  width: 100%;
}
.--ai-center{
  align-items: center;
  gap: 1rem;
}

.app_container{
  filter: blur(0px);
  transition: filter 0.4s;
}
.overflow{
  height: 100dvh;
  overflow: hidden;
  filter: blur(10px);
}



@media screen and (min-width: 425px) {
  header {
    padding: 0 3rem;
  }
}
